body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background-color: #008080;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  color: #333333;
  font-weight: bold;
  margin-left: 1rem;
  margin-right: 1rem;
  transition: color 0.3s;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.nav-link:hover {
  color: #ffffff;
}

.display-5 {
  font-size: 48px;
  color: #333333;
  margin-bottom: 20px;
}

.display-6 {
  font-size: 24px;
  color: #333333;
  margin-bottom: 2.5rem;
}

.job-list {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.border-box {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: all 300ms ease-in-out;
}

.border-box:hover {
  box-shadow: 0px 8px 30px #005555;
}

.jobs-container {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.job-details {
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.job-container {
  position: relative;
}

.additional-details {
  display: flex;
  gap: 10px;
  font-size: 1.1rem;
  justify-content: space-around;
}

.detail-label {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.detail-value {
  display: flex;
  justify-content: space-around;
}

.job-company {
  font-size: 1.3em;
  font-weight: bold;
}

/* New styles for the "Create Job" button */
.create-job-button {
  display: flex;
  align-items: center;
}

.create-job-button-link {
  color: #ffffff;
  font-weight: bold;
  margin-left: 1rem;
}

@media (max-width: 768px) {
  .navbar-collapse {
    justify-content: space-between;
  }
}

.detail-label {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.detail-value {
  display: flex;
  justify-content: space-around;
}

.job-company {
  font-size: 1.3em;
  font-weight: bold;
}

.nav-link {
  display: flex;
  text-align: right;
}

.navbar-nav.jobs-page {
  margin-left: auto;
}

.job-linking {
  text-decoration: none;
  color: black;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.job-detail-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-right: 3rem;
}

.detail-company-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.detail-job-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  white-space: pre-line;
}

.job-detail-content {
  display: flex;
}

.job-description-container {
  flex: 1;
}

.job-description {
  max-width: 70%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.job-details {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-self: flex-start;
  white-space: pre;
}

.job-details h3 {
  padding-right: 20rem;
}

.detail-info-container {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  align-self: flex-start;
  margin-left: 20px;
  padding-top: 25px;
}

.detail-info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.detail-info-label {
  font-weight: bold;
  margin-right: 5px;
}

.detail-info-value {
  color: #333;
}

.delete-prompt-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-prompt {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  max-width: 400px;
  text-align: center;
}

.prompt-actions {
  margin-top: 20px;
}

#job-description {
  min-height: 300px;
}

.job-description {
  white-space: pre-wrap;
  padding-top: 25px;
}

h1.detail-job-title {
  padding-top: 25px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  margin: 0 5px;
}

.user-info {
  display: contents;
}

.user-info button {
  display: content;
  justify-content: center;
  margin-right: 5rem;
}

.button-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Optional: Add some spacing between company name and buttons */
}
.detail-header {
  display: flex;
  justify-content: flex-end;
}

.button-group {
  display: flex;
  gap: 3px;
}

.btn {
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.profile-div {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
